.App{
  display: grid;
  grid-template-rows: 100px auto 200px;
}
.divAppForm{
  padding: 20px 20px 20px 100px;
  width: 50%;
  float: left;
  display: inline-block;
}
.sendMailButton{
  background-color: transparent;
  border: none;
}
.formInput{
  border-width: 0px 0px 1px 0px;
  font-size: 25px;
}
.divAppContent{
  padding-left: 10%;
  padding-right: 30%;
  background-color: #fafafa;
}
.divAppLogoRow{
  text-align: center;
  padding: 20px;
  background-color: #fafafa;
}
.AppLogoRow{
  display: inline-block;
}
.logoRow{
  display: inline-block;
  margin: 0 20px;
}
.brandLogo{
  background-color: white;
}
.brandLogo:hover{
  background-color: blue;
  transition: ease-in-out 1s;
}
.gameData{
  height: 165px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 500px 200px;
  grid-template-rows: 45px 120px;
}
.gameData:nth-child(even){
  background-color: white;
}
.gameImage{
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  padding-right: 10px;
}
.gameImage > img{
  max-width: 100%;
}
.gameTitle{
  font-weight: bold;
  font-size: 15px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.gameDescription{
  font-size: 14px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.gameDescription > p{
  margin: 0;
}
.brand{
  font-size: 40px;
  padding: 0px 0px 0px 50px;
  font-family: 'Lobster', cursive;
}
.navbar{
  border: 1px solid #dddddd;
  padding: 3px 0px 3px 0px;
}
.algorithmfilter{
  margin-left: 50px;
}
.searchfilter{
  margin-left: 50px;
  vertical-align: middle;
}
.searchFormGroup{
  margin-bottom: 0px;
  width: 300px;
}